.carrusel{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* overflow: scroll; */
}

.elemento {
    flex: 1 0 auto;
    margin: 0 50px;
    width: 500px;
    height: 500px;
    justify-content: center;
    margin-left: -50%;
    margin-top: 5vh; 
    color: black;  
    margin-bottom: -350px; 
    }

.imagenes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: center;
    width: 70%;
    overflow-x: hidden;
    
}
    

.evento {
    width: 300px;
    height: 300px;
    margin-top: 5vh;
    margin-right: 5%;
    margin-left: 5%;
    transition: transform .2s; 
    cursor: pointer;
      
}
